# Created by .ignore support plugin (hsz.mobi)
### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea/
target/

.gitignore
.idea/vcs.xml
.idea/workspace.xml
tanhua-commons/src/test/
tanhua-commons/target/
tanhua-domain/src/main/resources/
tanhua-domain/src/test/
tanhua-domain/target/
tanhua-dubbo/tanhua-dubbo-interface/src/main/resources/
tanhua-dubbo/tanhua-dubbo-interface/src/test/
tanhua-dubbo/tanhua-dubbo-interface/target/
tanhua-dubbo/tanhua-dubbo-service/src/test/
tanhua-dubbo/tanhua-dubbo-service/target/
tanhua-server/target/
